@model GetDogBreedsResponse
<style>
    body {
        margin: auto;
        padding:inherit;
        background-color:black;
    }

    table {
        text-align: left;
        position: relative;
        border-collapse: collapse;
    }

    th,
    td {
        padding: 0.25rem;
    }

    tr.red th {
        background: red;
        color: white;
    }

    th {
        background: white;
        position: sticky;
        top: 0; /* Don't forget this, required for the stickiness */
        box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    }
</style>
<div style="color:dodgerblue">Search For Shelters Near You</div>
<div class="gcse-search" style="margin-right:10px"> </div>

<div class="first" style="color:dodgerblue">
    <p>Upload Image</p>
    <p><input type="file" accept="image/*" name="image" id="file" onchange="loadFile(event)"></p>
    <p><img id="output" width="200" /></p>
</div>

<div >
    <table class="table table-hover table-striped table-dark position-sticky">
        <thead style="position:sticky">
            <tr>
                <th style="color:dodgerblue; font-size: large ">Breed</th>
                <th style="color:dodgerblue; font-size: large">Weight</th>
                <th style="color:dodgerblue; font-size: large">Height</th>
                <th style="color:dodgerblue; font-size: large">Bred For</th>
                <th style="color:dodgerblue; font-size: large">Breed Group</th>
                <th style="color:dodgerblue; font-size: large">Life Span</th>
                <th style="color:dodgerblue; font-size: large">Temperament</th>
                <th style="color:dodgerblue; font-size: large">Origin</th>
                @*<th style="color:dodgerblue; font-size: large">ImageURL</th>*@
                <th style="color:dodgerblue; font-size: large">Image</th>
            </tr>
        </thead>

        @foreach (var dog in Model.Dogs)
        {
            <tr style="color:dodgerblue; font-size: large">
                <td>@dog.DogBreed</td>
                <td>@dog.DogWeight lbs</td>
                <td>@dog.DogHeight inches </td>
                <td>@dog.BredFor</td>
                <td>@dog.BreedGroup</td>
                <td>@dog.LifeSpan</td>
                <td>@dog.Temperament</td>
                <td>@dog.Origin</td>
              @*  <td><a href=@dog.ImageURL>@dog.ImageURL</a></td>*@
                <td><img class=" card-img-top" stlye="width:200px ; height:200px" src=@($"{@dog.ImageURL}") /></td>

            </tr>
        }



    </table>

</div>
<script type="text/javascript">
    var loadFile = function (event) {
        var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
    };

</script>
<script async src="https://cse.google.com/cse.js?cx=d1de8761617de450d">
</script>